TheLoanBroker/TheLoanBroker/Service References/LoanBrokerService/LoanBroker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoanQuoteRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoanQuoteRequestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoanQuoteRequestSoapIn">
    <wsdl:part name="parameters" element="tns:LoanQuoteRequest" />
  </wsdl:message>
  <wsdl:message name="LoanQuoteRequestSoapOut">
    <wsdl:part name="parameters" element="tns:LoanQuoteRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="LoanBrokerSoap">
    <wsdl:operation name="LoanQuoteRequest">
      <wsdl:input message="tns:LoanQuoteRequestSoapIn" />
      <wsdl:output message="tns:LoanQuoteRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoanBrokerSoap" type="tns:LoanBrokerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoanQuoteRequest">
      <soap:operation soapAction="http://tempuri.org/LoanQuoteRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoanBrokerSoap12" type="tns:LoanBrokerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoanQuoteRequest">
      <soap12:operation soapAction="http://tempuri.org/LoanQuoteRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanBroker">
    <wsdl:port name="LoanBrokerSoap" binding="tns:LoanBrokerSoap">
      <soap:address location="http://localhost:49465/LoanBroker.asmx" />
    </wsdl:port>
    <wsdl:port name="LoanBrokerSoap12" binding="tns:LoanBrokerSoap12">
      <soap12:address location="http://localhost:49465/LoanBroker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>